/clases/ConceptosBasicos/nbproject/private/
diagramaBD.img

/clases/TareaLibro/nbproject/private/
/clases/TareaLibro/build/
/clases/ConceptosBasicos/build/
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/tareas/TareaComposicion/nbproject/private/
/tareas/TareaComposicion/build/
/tareas/Composicion/nbproject/private/
/tareas/Composicion/build/
